.my-button,
.red-button{
    min-height: 40px;
    min-width: 40px;
    margin: 4px 4px;
    background-color: rgb(10,30,50);
    background-image: none;
}

.my-button> label {
    color: white;
}

.red-button > label {
    color: red;
}



.header{
    min-height: 50px;
    background-color: rgb(0,0,0);
}