.my-button,
.red-button{
    min-height: 40px;
    min-width: 40px;
    margin: 4px 4px;
    background-color: rgb(10,30,50);
    background-image: none;
}

.my-button> label {
    color: white;
}

.red-button > label {
    color: red;
}

.window {
    color: rgb(0,0,0);
}


.header{
    min-height: 50px;
    background-color: rgb(0,0,0);
}

.menubar{
    background-color: rgb(0,0,0);
    border-bottom: solid 1px rgb(150,150,200);
}

.left_track {
    outline: solid 1px rgb(150,150,200);
}

.right_track {
    outline: solid 1px rgb(150,150,200);
    background-color: rgb(50,50,50);
}

.body{
    background-color: rgb(0,10,50);
    color: white;
}